Add SSL/TLS configs in addition to STARTTLS

Before I open a pull request I wanted to discuss my planned change in general.

I think SSL/TLS is more secure and therefore preferred over STARTTLS when transferring emails, especially in regards to SMTP submission.

To cite [RFC 8314](https://datatracker.ietf.org/doc/html/rfc8314):

> [RFC 8314, Section 3: Implicit TLS](https://datatracker.ietf.org/doc/html/rfc8314#section-3)
> With STARTTLS, the client establishes a cleartext application session and determines whether to issue a STARTTLS command based on server capabilities and client configuration.  If the client issues a STARTTLS command, a TLS handshake follows that can upgrade the connection.  Although this mechanism has been deployed, an alternate mechanism where TLS is negotiated immediately at connection start on a separate port (referred to in this document as "Implicit TLS") has been deployed more successfully.  To encourage more widespread use of TLS and to also encourage greater consistency regarding how TLS is used, this specification now recommends the use of Implicit TLS for POP, IMAP, SMTP Submission, and all other protocols used between an MUA and an MSP.

I identified a German email hosting provider that supports both SSL/TLS and STARTTLS. Given the cited paragraph above I would like to change it's entry in the ISPDB from STARTTLSS to SSL/TLS.

> I personally prefer the normal TLS as well, because it's a little less complex.

Great!

> Generally, we capture all working configs. If both TLS and STARTTLS work, we capture both. The first one is the preferred one.

I found some examples with two SMTP configs:
- https://github.com/thundernest/autoconfig/blob/master/ispdb/gandi.net
- https://github.com/thundernest/autoconfig/blob/master/ispdb/gmx.com
- https://github.com/thundernest/autoconfig/blob/master/ispdb/gmx.net

> I wouldn't mind switching the configs around, to make TLS preferred over STARTTLS. Under the condition that: a) Both configs stay listed and b) you tested the TLS config, personally, with a working email account, and could successfully retrieve email with that exact config, including the username form, and the exact authentication method.

Ok, I will meet the two conditions.

Hi @ryanleesipes , SMTP SSL/TLS for t-online.de was added on Dec 8 2021 through [this commit](https://github.com/thundernest/autoconfig/commit/d03d2a7a1ebd06f59613f6a6b9e8382afac33f71).

The change can be identified here in the repo: https://github.com/thundernest/autoconfig/blob/master/ispdb/t-online.de#L25 .
However, when I go to the production website at https://autoconfig.thunderbird.net/v1.1/t-online.de , the mentioned change is not included yet.

Do you know why that's the case and what I can do to make my change available in prod?

@Sancus any idea why this isn't live or when it will go live?

There's a `prod` branch, and the servers pull (only) from there, not from master. I don't know why, but @Sancus can probably explain why it's set up like that.

I don't know how to cleanly (with a git fast-forward) merge from `master` to `prod`, so I just did it manually with git commandline. Should be live in a few minutes.

Thanks for your fast response! Yes, the changes are now live on `prod`.

> I don't know why, but @Sancus can probably explain why it's set up like that.

It's just a safety measure. You can check your changes on https://autoconfig-stage.thunderbird.net/autoconfig/v1.1/ before pushing them to production. Usually when I see merged PRs here I remember to check to see if the prod branch was updated, and if not, I do it myself. Forgot this time, sorry.

In theory if we had good enough automated checks, we could just make master go directly to production, but we don't have that. Perhaps once we've finished hiring for my team we'll have time for https://github.com/thundernest/autoconfig/issues/4



Alright, thanks for explaining how the process works.